

:root {
  --primary-color: #fafafa;
  --secondary-color: #7a78ff;
  --accent-color: #ff6d38;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #8584ff;
  --btn-accent-bg: #ffc412;
  --btn-primary-hover-bg: #e74c3c;
  --btn-secondary-hover-bg: #333;

  --font-family-heading: 'Amatic SC', sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

  --section-margin: 2rem 0;
  --container-width: 90%;
}

* {
  font-family: 'Roboto';
  /* box-sizing: border-box; */
  margin: 0;
  
}

body{
  background-color: var(--light-color);
  
}

header{
  display: flex;  /* Par défaut c'est en ROW */
  margin: auto;
  max-width: var(--container-width);
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  
  }

.logo{
  font-weight: bold;
  font-size: 2rem;
}

.logo span{
  color: var(--secondary-color);
}
  


#navbar {
  display: flex;  /* Par défaut c'est en ROW */
  font-weight: bold;
}

#navbar ul {
  display: flex;
  list-style: none; /* enlève les puces */
  gap: 20px;
  margin: 0;
  padding: 0;
}

header button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;  /*enlève le contour du bouton*/
  background-color: var(--secondary-color);
  color: var(--light-color);
  cursor: pointer;
}

h1 {
  font-family: var(--font-family-heading);
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;

}

h2 {
  text-align: center;
  margin-bottom: 1.3rem;
}

p{
margin-left: auto;
margin-right: auto;
text-align: center;
max-width: 700px;
margin-bottom: 2rem;

}


#heroLinks {
  display: flex;
  flex-direction: column;  /* pour empiler h1 et p */
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center;      /* centre le texte */
  position: relative;  /* important pour positionner le texte */
  overflow: hidden;
  margin: var(--section-margin);
  max-width: var(--container-width);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/fiqih-pradana-qm-SgY--sVg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  padding: 8rem;




}

#meetPersonality{
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centre horizontalement tout ce qu’il contient */
  text-align: center;   /* Centre le texte */

}
  

#photosBlock{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin: var(--section-margin);
  max-width: var(--container-width);
  max-height: auto; /* limite la hauteur */


}


.danie{
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.vlad{
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.tim{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.shimo{
  grid-row: 2 / 4;
  grid-column: 2 / 3;
   height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.tatiana{
  grid-row: 1 / 3;
  grid-column: 3 / 4;
   height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.michael{
  grid-row: 3 / 4;
  grid-column: 3 / 4;
   height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.quentin{
  grid-row: 1 / 2;
  grid-column: 4 / 5;
   height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.moha{
  grid-row: 2 / 4;
  grid-column: 4 / 5;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
}


#btnProfils{
  border-radius: 50px;
  padding: 0.7rem 1.5rem;
  background-color: var(--btn-primary-bg);
  color: white;
  margin-bottom: 2rem;
  border: none;  /*enlève le contour du bouton*/
  
}

#doesItWork{
  background-color: white;
  padding: 2rem 0;
  margin-left: auto;
  margin-right: auto;

  align-items: center;     /* centre horizontalement */
  text-align: center;      /* centre le texte */
 
}



#blockMeet{
  display: flex;
  flex-direction: row;
  /* max-width: 700px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 0;

  
}

#blockMeet li{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow-md);

}

#cta .section{
  display: flex;
}

#threeBtn{
  display: flex;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center;      /* centre le texte */
  align-items: center;
  margin-bottom: 2rem;
  gap: 30px;

}

#programBtn{
  border-radius: 50px;
  padding: 0.7rem 1.5rem;
  background-color: var(--btn-primary-bg);
  color: white;
  border: none;  /*enlève le contour du bouton*/
}

#donBtn{
  border-radius: 50px;
  padding: 0.7rem 1.5rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;  /*enlève le contour du bouton*/

}

#volunteerBtn{  
  border-radius: 50px;
  padding: 0.7rem 1.5rem;
  background-color: var(--btn-accent-bg);
  color: white;
  border: none;  /*enlève le contour du bouton*/
}

h6 {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
}


footer{
  background-color: var(--btn-primary-bg);
  color: white;
  
  
}

#footerBlock{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  align-items: top;     /* centre horizontalement */
  gap: 30px;
  text-decoration : none


  

}

li{
  list-style: none; /* enlève les puces */
}


footer section{
  
 
  
}



